# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Python distribution/build files
build/
dist/
*.egg-info/

# Logs
*.log

# Raw dataset
*.xlsx
database/PhiUSIIL_Phishing_URL_Dataset.csv
database/email_dataset.csv
